In [40]:
import pandas as pd
import numpy as np
from math import *

In [41]:
vx = 26.130
vy = 26.180

In [52]:
# save in the list only the sextupole elements present in the lattice
sextupoles_list = []

with open("twiss.tfs", "r") as f:
    for x in f:
        if 'LSD' in x:
            sextupoles_list.append(x)
        if 'LSF' in x:
            sextupoles_list.append(x)

In [53]:
len(sextupoles_list)

108

In [54]:
# see an example of a line
sextupoles_list[0]

' "LSF.62005"                    85.8223                  0                  0       0.3086877835         97.6474199       -2.197265476       0.3338217257         22.4289023        0.578579739       0.0452045844                  0      0.02811716198\n'

In [55]:
# create the data frame to save the data for the sextupoles in a more easy to be managed way
df = pd.DataFrame(columns=['name', 's', 'x', 'y', 'mux', 'betx', 'alfx', 'muy', 'bety', 'alfy', 'dx', 'dy', 'k2l' ])

In [56]:
for line in sextupoles_list:
    line_new = line.split() # splitted string
    df = df.append({'name':line_new[0], 's':float(line_new[1]), 'x':float(line_new[2]), 'y':float(line_new[3]), 'mux':float(line_new[4]), 'betx':float(line_new[5]), 'alfx':float(line_new[6]), 'muy':float(line_new[7]), 'bety':float(line_new[8]), 'alfy':float(line_new[9]), 'dx':float(line_new[10]), 'dy':float(line_new[11]), 'k2l':float(line_new[12])}, ignore_index=True)

In [57]:
df

,name,s,x,y,mux,betx,alfx,muy,bety,alfy,dx,dy,k2l
0,"""LSF.62005""",85.8223,0.0,0.0,0.308688,97.647420,-2.197265,0.333822,22.428902,0.578580,0.045205,0.0,0.028117
1,"""LSD.62305""",181.8174,0.0,0.0,0.657132,22.462653,0.570163,0.712355,96.719197,-2.176888,2.297399,0.0,-0.063556
2,"""LSF.62405""",213.8131,0.0,0.0,0.792555,97.655096,-2.199297,0.818344,22.419784,0.579199,4.484299,0.0,0.028117
3,"""LSD.62505""",245.8108,0.0,0.0,0.897580,22.563851,0.590399,0.954884,96.625972,-2.177427,2.002143,0.0,-0.064126
4,"""LSF.62605""",277.8085,0.0,0.0,1.034262,95.912300,-2.158148,1.060788,22.470992,0.579063,2.383380,0.0,0.053950
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,"""LSD.61105""",6709.3468,0.0,0.0,25.334413,23.149994,0.591225,25.435706,96.288649,-2.168407,1.937450,0.0,-0.063556
104,"""LSF.61205""",6741.3445,0.0,0.0,25.467787,96.972085,-2.154601,25.541967,22.421499,0.574727,4.572135,0.0,0.028117
105,"""LSD.61305""",6773.3422,0.0,0.0,25.575148,21.891687,0.572875,25.678091,97.057814,-2.186440,2.352356,0.0,-0.064126
106,"""LSF.61405""",6805.3399,0.0,0.0,25.714211,96.374499,-2.198478,25.783694,22.479359,0.583781,3.452106,0.0,0.053950
107,"""LSD.61505""",6837.3396,0.0,0.0,25.818590,23.108437,0.584455,25.920287,96.354035,-2.169557,0.941905,0.0,-0.063556

In [58]:
# iterate over all the elements and do the calculations

In [59]:
n = len(df['name'])
my_sum = 0


for i in range(0, n):
    for j in range(0, n):
        SiSj =  df['k2l'][i]*df['k2l'][j]
        beta_x_ij = (df['betx'][i]**(3/2.))*(df['betx'][j]**(3/2.)) 
        frac1 = (cos(3*(pi*vx-abs(2*pi*(df['mux'][i]-df['mux'][j])))))/(sin(3*pi*vx))
        frac2 = 3*(cos(pi*vx-abs(2*pi*(df['mux'][i]-df['mux'][j]))))/(sin(pi*vx))

        my_sum+= SiSj*beta_x_ij*(frac1+frac2)

axx = my_sum/(-128*pi)
print('axx ={} 1/m'.format(axx))

axx =179.24296670460598 1/m

In [60]:
n = len(df['name'])
my_sum_a = 0
my_sum_b = 0


for i in range(0, n):
    for j in range(0, n):
        SiSj_a =  df['k2l'][i]*df['k2l'][j]
        beta_x_ij_a = (df['betx'][i]**(1/2.))*(df['betx'][j]**(1/2.))*df['bety'][i]*df['bety'][j]
        frac1_a = (cos(2*(pi*vy-abs(2*pi*(df['muy'][i]-df['muy'][j])))+pi*vx-abs(2*pi*(df['mux'][i]-df['mux'][j]))))/(sin(pi*(2*vy+vx)))
        frac2_a = (cos(2*(pi*vy-abs(2*pi*(df['muy'][i]-df['muy'][j])))-(pi*vx-abs(2*pi*(df['mux'][i]-df['mux'][j])))))/(sin(pi*(2*vy-vx)))
        
        SiSj_b =  df['k2l'][i]*df['k2l'][j]
        beta_x_ij_b = (df['betx'][i]**(3/2.))*(df['betx'][j]**(1/2.))*df['bety'][j]
        frac1_b = (cos(pi*vx-abs(2*pi*(df['mux'][i]-df['mux'][j]))))/(sin(pi*vx))
        
        my_sum_a+= SiSj_a*beta_x_ij_a*(frac1_a + frac2_a)
        my_sum_b += SiSj_b*beta_x_ij_b*frac1_b

axy = (my_sum_a-2*my_sum_b)/(-64*pi)
print('axy ={} 1/m'.format(axy))

axy =-441.41677107046513 1/m

In [61]:
n = len(df['name'])
my_sum = 0


for i in range(0, n):
    for j in range(0, n):
        SiSj =  df['k2l'][i]*df['k2l'][j]
        beta_x_ij = (df['betx'][i]**(1/2.))*(df['betx'][j]**(1/2.))*df['bety'][i]*df['bety'][j]
        
        frac1 = (cos(2*(pi*vy-abs(2*pi*(df['muy'][i]-df['muy'][j])))+pi*vx-abs(2*pi*(df['mux'][i]-df['mux'][j])))) / (sin(pi*(2*vy+vx)))
        frac2 = (cos(2*(pi*vy-abs(2*pi*(df['muy'][i]-df['muy'][j])))-(pi*vx-abs(2*pi*(df['mux'][i]-df['mux'][j]))))) / (sin(pi*(2*vy-vx)))
        frac3 = (4*cos(pi*vx-abs(2*pi*(df['mux'][i]-df['mux'][j]))))/(sin(pi*vx))
        
        my_sum+= SiSj*beta_x_ij*(frac1 - frac2 + frac3)

ayy = my_sum/(-128*pi)
print('ayy ={} 1/m'.format(ayy))

ayy =-30.90209376580257 1/m